<div id="code">
  <h1>Code
  <button id="run" class="ui tiny green button" style="float:right;">Run Console</button>
  </h1>
  <pre><code class="language-python"><%= code %></code></pre>

  <div style="text-align: right">
    <span id="timer">3:00</span>
    <button id="next" class="ui tiny blue button disabled">Show Hint</button>
  </div>
</div>
