<div id="hint" style="display: none">
  <h1>Hints</h1>
  <form action="" class="ui form">
    <div class="ui segment">
      <b>Hint (<span id="category"><%= topic %></span>):</b><br>
      <pre><code class="language-"><%= hint[topic] %></code></pre>

      <div class="field">
        <label class="text">Is this hint useful?</label>
        <select name="" id="useful">
          <option value="1">1 (Bad)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Good)</option>
        </select>
      </div>

      <div class="field">
        <label>Does this hint reveal too much?</label>
        <select name="" id="reveal">
          <option value="1">1 (Disagree)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (Agree)</option>
        </select>
      </div>

      <div class="field">
        <textarea name="" id="reason" cols="30" rows="10" placeholder="Why do you think this hint is usefl or not?"></textarea>
      </div>
      <div class="field">
        <button class="ui green button">Submit</button>
      </div>

    </div>
  </form>
</div>


