<div id="pre" style="display: none">
  <h1>Pre Question</h1>
  <form action="" class="ui form">
    <div class="ui segment">
      <div class="field">
        <p><b>Describe why this code is wrong, and how to fix it.</b></p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Why do you think this hint is usefl or not?"></textarea>
      </div>
      <div class="field">
        <button id="show-hint" class="ui blue button">Next</button>
      </div>
    </div>
  </form>
</div>




