#console {
  display: none;
}

#question code {
  background: #f5f2f0;
  color: #DD4A68;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 2px 3px;
}

.field {
  margin-top: 20px !important;
}